<!-- modaldeleteclient.component.html-->
<div id="modalBackgrounddelete"  class="modal">
    <div>
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModalDelete()">&times;</span>
      <h3>Delete Client:</h3>
      <hr style="width: 338.2px;margin-left: -20px;">
      <div class="iii" style="margin-top: 10px;">
        <label for="TacheProjet">Êtes-vous sûr de vouloir supprimer cette Client?</label>
      </div>
      <div style="width: 113.4%;background-color: #A9F4F9;margin-left: -20px;height: 70px;margin-top: 20px;">
        <button id="saveBtn" style="margin-top: 15px; margin-left: 230px;" (click)="deleteClient()">Delete</button>
      </div>
    </div>
</div>
  </div>
  