body {
    font-family: Arial, sans-serif;
}

.table {
    width: 98%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
}

.table th {
    background-color: #894e28;
    font-weight: bold;
    color: #ffffff;
}
.success-message {
  background-color: #87db89; /* Green background */
  color: #ffffff; /* White text */
  padding: 10px 20px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px; /* Margin bottom to separate from other elements */
}


.table tr:hover {
    background-color: #ddd;
}

.action-button {
    background-color: #252323;
    padding: 10px 24px;
    border-radius: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border: none; /* Ajoutez cette ligne pour supprimer la bordure */
}
.action-button:hover{
    background-color: #252323;
}
img{
    display: inline-block;
    width: 22px;
}

