<app-tech-interface></app-tech-interface>

<div style="margin-left: 260px; background-color: rgb(255, 252, 250); width: 78%; overflow: hidden;border: 1px solid rgb(234, 234, 234);margin-top: 50px;">
  <div style="margin-left: 20px; margin-bottom: 20px;">
    <div style="display: inline-block;">
      <h2>Tickets Liste</h2>
    </div>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <table class="table">
      <tr>
        <th>description</th>
        <th>localisation</th>
        <th>date_creation</th>
        <th>priorite</th>
        <th>statut</th>
      </tr>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.localisation }}</td>
        <td>{{ ticket.date_creation }}</td>
        <td>{{ ticket.priority }}</td>
        <td (click)="editTicket(ticket)">
          <ng-container *ngIf="!ticket.editing; else editStatus">
            {{ ticket.status }}
          </ng-container>
          <ng-template #editStatus>
            <select [(ngModel)]="ticket.status" (change)="saveTicket(ticket)">
              <option value="Open" [selected]="ticket.status === 'Open'">Open</option>
              <option value="In Progress" [selected]="ticket.status === 'In Progress'">In Progress</option>
              <option value="Closed" [selected]="ticket.status === 'Closed'">Closed</option>
            </select>
          </ng-template>
        </td>
      </tr>
    </table>
  </div>
</div>
